# Core Django
Django==5.1.15

# Admin UI
django-unfold==0.38.0

# Frontend Integration
django-htmx==1.19.0

# Payment Gateway
razorpay==1.4.2
setuptools==80.9.0

# Image handling
Pillow==10.4.0

# Environment variables
python-decouple==3.8

# Database (for production)
libsql-experimental==0.0.55

# Development tools
django-debug-toolbar==4.4.6
